.slide {
  background: blue;
  color: #fff;
  transition: opacity 0.5s;
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide2 {
  background: red;
  color: #fff;
  transition: opacity 0.5s;
  opacity: 0;
  position: absolute;
}
.slide3 {
  background: green;
  color: #fff;
  transition: opacity 0.5s;
  opacity: 0;
  position: absolute;
}

.slide.active {
  opacity: 1;
}
.slide2.active {
  opacity: 1;
}
.slide3.active {
  opacity: 1;
}
